/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/out
/node
/node_modules
/resources/public
.idea
.travis.yml
test*.js
test*.ts
test*.js.map
.eslintrc.json
.gitattributes
.github/
src/**/*.js
src/**/*.js.map
package.json
.idea/
node_modules/
public/bower_components/
public/js/amf.*
public/js/amf_playground.*
typings.json
output/
.DS_Store
