// add bootstrap variable settings here

@import 'bootstrap/bootstrap';

@font-face{
  font-family: 'Roboto-Regular';
  src:url('../fonts/Roboto-Regular.ttf');
}

// add more css stuff here

@font-face{
  font-family: 'Roboto-Regular';
  src:url('../fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto-Bold';
  src:url('../fonts/Roboto-Bold.ttf');
}
@font-face{
  font-family: 'Roboto-Light';
  src:url('../fonts/Roboto-Light.ttf');
}
@font-face{
  font-family: 'RobotoMono-Regular';
  src:url('../fonts/RobotoMono-Regular.ttf');
}
@font-face{
  font-family: 'Roboto-Medium';
  src:url('../fonts/Roboto-Medium.ttf');
}

$font-face-regular:'Roboto-Regular';
$font-face-bold:'Roboto-Bold';
$font-face-light:'Roboto-Light';
$font-face-medium:'Roboto-Medium';

$editor-bg:#526881;
$royal-blue:#3273DC;
$royal-blue-hover:#115CD4;
$light-slate-gray:#748599;
$slate-gray:#526881;
$slate-gray-hover:#38506C;
$azureish-white:#DBE8FD;
$ghost-white:#F7FAFF;
$black:#000;
$white:#fff;

/*overriding bootstrap variables */
$primary: $royal-blue !default;
$secondary: $slate-gray !default;

/*fonts variables*/
$font-h1:36px;
$font-h2:24px;
$font-h3:16px;
$font-face-small:14px;

html,body{
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

a:hover{
  text-decoration: none!important;
}
a{
  color: $royal-blue;
}
i.fas.fa-expand{
  margin-left: 8px;
}
li{
  list-style: none;
}


body{
  margin: 0;
  padding: 0;
  font-family: $font-face-regular;
  position: relative;
  background-color: $editor-bg;
}
ul{
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: $font-h1;
  line-height: 42px;
  font-family: $font-face-light;
  color: $slate-gray;
}
h2{
  font-size: $font-h2;
  line-height: 28px;
  color: $slate-gray;
}
h3{
  font-size: $font-h3;
  line-height: 19px;
  color: $slate-gray;
}
h4{
  font-size: $font-face-small;
  line-height: 16px;
  color: $slate-gray;
}
p{
  font-size: $font-face-small;
  line-height: 24px;
  color: $slate-gray;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.padd_00{padding: 0;}

header{
  background-image: url(/images/vS_nzadp.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.aml-editor{
  position: relative;

  h2{
    font-family: 'Roboto-Regular';background-color: $ghost-white;box-shadow: 0 -1px 0 0 #DBE8FD;  font-size: $font-face-small;  font-weight: 500; line-height: 16px;margin:0;padding: 20px;width: 100%;
  }
  .editor-1{
    h3{
      padding: 15px;
      background-color:#eef2f9;
      font-size: $font-face-small;
    }
  }
  .editor-2{
    h3{
      padding: 15px;
      background-color: #f6f7f9;
      font-size: $font-face-small;
    }
    .monaco-editor-background{
      background-color: $white;
    }
    .monaco-editor .margin{
      background-color: $white;
    }
  }
  a.playground-btn{
    position: absolute;
    right: 15px;
    top: 11px;
    border: 0px;
    border-radius: 2px;
    padding:10px 20px;
    background-color: $slate-gray;
    color: $white;
    font-family: 'Roboto-Regular';
    font-size: $font-face-small;
    font-weight: 600;
    letter-spacing: 0.44px;
    line-height: 16px;
    text-align: center;

  }
  a.playground-btn.no-background{
    background:none;
    color:$black;
    font-size:20px;
    top:4px;
  }
  .editor-container{
    box-shadow: 1px 0px 3px #808080;
    .monaco-editor{
      .editor-scrollable{
        .view-lines{
          .mtk26,.mtk23,.mtk21{
            font-family: 'RobotoMono-Regular';
            font-weight: 500;
          }
          .mtk8{
            color: #9EAAB7;
            font-family: 'RobotoMono-Regular';
            letter-spacing: 1px;
            font-weight: 500;
          }
        }
      }
    }
    .line-numbers{
      color: #9EAAB7;
    }
  }
}

/* CUSTOM  */
$selected-line:#DBE8FD;

.selected-element-line-decoration {
  background-color: $selected-line;
}

.half-width {
  max-width: 50%;
}

.modal-card-body, #query {
  .select {
    select {
      &:focus, &:active {
        border-color: $primary;
      }
    }
    &:after {
      border-color: $primary;
    }
  }
}
.modal-card-head {
  margin-bottom: 0px;
}
.modal-card-foot {
  .is-success {
    background-color: #26D3FF;
  }
}
.aml-demo-select {
  border: none;
  background-color: transparent;
}

.link-tools {
  display: none;
}
#graph-container {
  overflow: auto;
}
.monaco-editor-hover-content {
  .status-bar {
    display: none;
  }
}
.joint-paper.joint-theme-default {
  background-color: $editor-bg!important;
}
.tabs {
  color: #afadad;
  margin-bottom: 0px!important;
  .button {

  }
  a {
    border-bottom-color: #afadad;
    color: #afadad;
  }
  li {
    padding: 5px;
  }
  li:hover {
    color: #fff;
    a {
      border-bottom-color: #ffffff;
      color: #ffffff;
    }
  }
  li.is-active {
    a {
      border-bottom-color: #ffffff;
      color: #ffffff;
    }
  }
}
.is-marginless {
  margin: 0;
}

.vs-dark .monaco-scrollable-element>.scrollbar>.slider {
  background: #9eaab7!important;
}
.monaco-scrollable-element>.scrollbar>.slider:hover {
  background: #9eaab7!important;
}
