.amf-header {
    position: absolute;
    width: 100%;
}
.book-summary {
    margin-top: 60px;
}
.book-body {
    margin-top: 60px;
}
.nav {
    background-image: url("../images/header.svg");
    position: relative;
    padding: 11px;
    /* here */
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    position: relative;
    text-align: center;
    z-index: 2;
}
.nav .nav-item .select select {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0; }
.nav .nav-item .select select option {
    color: #000; }
.nav .nav-item .select select option:hover {
    color: #ffffff; }
.nav .nav-item .select:after {
    border-color: #ffffff; }
.nav .nav-item a.button {
    border-radius: 0;
    color: #00A2DF;
    border: 1px solid #00A2DF;
    background-color: transparent;
    position: absolute;
    right: 200px; }
.nav .logo-wrapper {
    color: #ffffff;
    font-family: Open Sans, sans-serif; }
.nav .logo-wrapper .nav-logo-text {
    font-size: 20px;
    margin: 0 8px 0 13px; }
.nav .logo-wrapper .nav-logo-img {
    margin-left: 10px; }
.nav .logo-wrapper .super {
    margin-bottom: 8px; }

.nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.nav-left, .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.nav .nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav-right a {
    color: white;
    font-size: 13px;
}
